@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  background-color: #20b3ab;
}
.imagem-header img {
  margin: 20px 10px;
  border-radius: 3px;
  box-shadow: 16px 16px black;
}

header ul {
  justify-content: center;
  margin-right: 20px;
  gap: 23px;
  list-style: none;
  display: flex;
  width: 100%;
  padding: 0px;
}
header ul img {
  display: inline;
  align-self: center;
}
header ul li {
  display: flex;
  align-items: center;
  width: 100px;
  cursor: pointer;
  font-family: "Poppins", sans-serif;
  font-weight: 900;
  transition: 0.3s;
}
header ul a {
  display: inline;
  text-decoration: none;
  text-align: justify;
  width: 1vw;
  color: black;
  padding: 1px;
  margin: 1px;
}
header ul a:hover {
  color: orange;
}
@media (max-width: 900px) {
  header {
    flex-direction: column;
  }
  header ul {
    flex-direction: column;
    place-self: center;
  }
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  footer h1 {
    color: white;
    font-size: 4vw;
  }
  .footer-logo-gov-local{
    width: 100px;
    height: 100px;  
    border-radius: 1000px;
    margin:10px 20px;
  }
  
  .imagensfooter{
    margin:10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .imagensfooter img {
    margin: 10px 20px;
  }
}
