.gridline1 {
  display: grid;
  grid-template-columns: 50% 50%;
  grid-template-rows: 1fr;
  width: 100%;
  background-color: #f5f5f5;
  padding: 30px 0;
}

.gridline1 h2 {
  text-align: center;
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row: 1;
}

.icones {
  display: flex;
  justify-content: center;
  align-items: center;
  grid-column: 1;
  margin-bottom: 50px;
}

.icones img {
  width: 30%;
  display: flex;
}

.localidade {
  display: grid;
  width: 100%;
  grid-column: 2;
  align-items: center;
  justify-content: center;
  place-self: center;
  align-self: center;
}

#bairroflex {
  text-align: center;
  font-size: 30pt;
  font-weight: 800;
}

label {
  font-weight: 800;
  display: flex;
}

form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

input {
  outline: none;
  padding: 2px;
  border: none;
  border-bottom: 1px solid black;
  margin-bottom: 5px;
  width: 50%;
}

.genero {
  margin-bottom: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.second {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  width: 100%;
}

.submitbtn {
  background-color: #20b3ab;
  cursor: pointer;
  border: gray;
  display: flex;
  place-self: center;
  justify-content: center;
  width: 20%;
  padding: 5px;
  margin: 0;
  margin-top: 8px;
  font-weight: 700;
  font-family: 'Poppins';
  border-radius: 3px;
  transition: .2s;
}

.submitbtn:hover {
  background-color: #fac710;
}

.sobre {
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.formulario {
  background-color: white;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 40px;
}

.primeirasecao {
  grid-column: 1;
  background-color: white;
}

.segundasecao {
  grid-column: 2;
  background-color: white;
}

select {
  background-color: whitesmoke;
  font-family: 'Poppins', sans-serif;
  cursor: pointer;
  width: 50%;
  margin-bottom: 15px;
  border-radius: 2px;
  padding: 3px;
  font-weight: 800;

}

.confirm {
  display: none;
  height: auto;
  text-align: center;
  font-size: 8pt;
  position: fixed;
  left: 50%;
  top: 85%;
  color: green;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border: 1px solid #000000;
  padding: 5px;
  width: 80%;
  align-items: center;
  justify-content: center;
  overflow-y: hidden;
  z-index: 1000;
}

.X img {
  cursor: pointer;
}

@media (max-width: 900px) {
  .gridline1 {
    display: grid;
    grid-template-columns: 100%;
    grid-template-rows: 1fr 1fr 1fr;
    width: 100%;
    background-color: #f5f5f5;
  }

  .gridline1 h2 {
    grid-row: 1;
    grid-column: 1;
  }

  .icones {
    display: flex;
    grid-row: 2;
    align-items: center;
    grid-column: 1;
    align-content: center;
  }

  .icones img {
    width: 30%;
    display: flex;
    grid-column: 1;
    align-items: center;
    align-content: center;
  }

  #descricao {
    grid-row: 2;
  }

  .localidade {
    display: flex;
    width: 100%;
    grid-row: 3;
    grid-column: 1;

  }

  #bairroflex {
    grid-row: 3;
    grid-column: 1;
  }

  #bairroflex h1 {
    text-align: center;
    grid-row: 3;
    grid-column: 1;
  }

  .formulario {
    background-color: white;
    display: flex;
    flex-direction: column;
    grid-template-columns: 100%;
    align-items: center;
    margin: 20px;
    grid-column: 1;

  }

  .primeirasecao {
    grid-column: 1;
    background-color: white;
    align-items: center;
  }

  .segundasecao {
    grid-column: 1;
    background-color: white;
    align-items: center;
  }

  label {
    font-weight: 800;
  }

  input {
    outline: none;
    padding: 2px;
    border: none;
    border-bottom: 1px solid black;
    margin-bottom: 5px;
    width: 100%;
  }

  select {
    width: 100%;
  }

   #bairroflex {
    font-size: 7vw;
    margin: 0 auto;
  }
}