@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap');

*{
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}
header {
    background-color:#20b2aa;
    width: 100%;
    display: flex;
 }

 #aviso-mobile {
    display: none;
 }

.mobile-menu{
    display: none;
}

.nav{
    display: flex;
    width: 100%;
    justify-content: space-between;
    padding: 10px 2px;
    align-items: center;

}

.nav ul {
    list-style: none;
}

.nav ul li {
    margin: 10px;
}

.esquerda ul {
    display: flex;
}

.central ul{
    display: flex;
}

.central ul li {
    display: flex;
    align-items: center;
    justify-content: center;
}

#mainSearchBar {
    border: none;
    padding: 16px;
    border-radius: 4px;
    width: 500px;
}

.direita ul {
    display: flex;
}


.search-img {
    position: relative;
    z-index: 1000;
    left: -32px;
    top: 2px;
    filter: none;
}

.nav ul li img {
    transition: .2s ease-in-out;
}

.nav ul li img:hover{
    transform:scale(1.2);
}

    /* main {
        display: grid;
        grid-template-columns: 30% 70%;
        background-color: whitesmoke;
    }
        aside {
            display: flex;
            flex-direction: column;
            grid-column: 1;
            z-index: 1000;
            margin: 10px 10px;
        }
            aside ul{
            display: block;
            float: left;
            margin: 0px;
            padding: 0px;
            }
                aside ul li{
                display: inline-block;
                }
                    aside ul li a{
                    color: black;
                    text-decoration: none;
                    display: block;
                    transition: .5s;
                    }
                        aside ul li a:hover,
                        aside ul li a.active{
                        color: lightgray;
                        }
                            aside ul ul{
                            opacity: 0;
                            visibility: hidden;
                            }
                            aside ul li:hover > ul{
                            opacity: 1;
                            visibility: visible;
                            transition: .3s linear;
                            }
                            aside ul ul li{
                            display: list-item;
                            margin: 0px 0px 0px 20px;
                            border-top: none;
                            color: black;
                            text-decoration: none;

                            }
                            aside ul ul li a:hover{
                                color: lightgray;
    
                            }
                            aside ul ul ul{
                            border-top: none;
                            }
                            aside ul ul ul li{
                            position: relative;

                            }
                            aside ul ul li a i{

                            }
        .mapa {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            padding-top: 5px;
            position: relative;
            background-color: whitesmoke;
            width: 100%;
            height: 100%;
            margin-right: 100px;
        }

        .sliderPeriodo img {
            cursor: pointer;
            margin-left: 20px;
        } */


#map {
    width: 100%;
    height: 80vh;
}


        @media (max-width: 800px) {

            header {
                display: flex;
                flex-direction: column;
            }

            .nav{
                display: none;
            }

            .mobile-menu{
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;
                width: 100%;
            }

            .mobile-menu ul{
                list-style: none;
            }

            .top{
                display: flex;        
                justify-content: center;
                align-items: center;
                place-self: center;
                width: 100%;
                margin-bottom: 20px;
            }

            .top ul{
                display: flex;
                margin-top: 20px;
                gap: 30px;
            }

            .down{
                display: flex;        
                justify-content: center;
                align-items: center;
                place-self: center;
                width: 100vw;
                margin-bottom: 20px;
            }

            .down ul {
                display: flex;
                justify-content: center;
                align-items: center;
            }

            .down ul li {
                display: flex;
                align-items: center;
            }

            .down ul li img {
                margin-left: 10px;
            }
            #mainSearchBarMobile{
                display: flex;
                width: 50vw;
                padding: 10px;
            }

            #map {
                width: 100%;
                height: 70vh;
            }

            #aviso-mobile{
                    display: block;
                    height: 80%;
                    position: fixed;
                    left: 50%;
                    top: 50%;
                    transform: translate(-50%, -50%);
                    background-color: #ffffff;
                    border: 1px solid #000000;
                    padding: 18px;
                    border-radius: 2px;
                    width: 70%;
                    align-items: center;
                    justify-content: center;
                    overflow-y: scroll;
                    z-index: 10000;
                    text-align: center;
            }

            #aviso-mobile p {
                display: flex;
                flex-direction: column;
                justify-content: center;
                place-self: center;
                align-items: center;
            }

            .X3{
                display: flex;
                justify-content: end;
                margin-bottom: 5px;
            }

        }