* {
    font-family: 'Poppins', sans-serif;
    padding: 0;
    margin: 0;
}

body {
    background-color: #e6e6e6;
}

main {
    display: flex;
    width: 100%;
}

article {
    display: flex;
    flex-direction: column;
    width: 50%;
    align-items: center;
    justify-content: center;
    height: 105vh;
}

article h1 {
    margin-left: 5px;
    font-size: 25px;
    margin-top: 10px;
}

#sendcoment {
    display: flex;
    width: 95%;
    resize: none;
    outline: none;
    border-radius: 2px;
    box-shadow: 6px 6px 15px black;
    margin-bottom: 10px;
    margin-top: 10px;
}

.btn2 {
    display: flex;
    width: 100%;
    justify-content: end;
    margin-right: 30px;
    margin-bottom: 8px;

}

.btn2 input {
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: none;
    border-radius: 3px;
    border: 1px solid rgb(175, 168, 168);
    background-color: white;
    transition: 0.2s;
    padding: 0px 5px;
}

.btn2 input:hover {
    background-color: rgb(175, 168, 168);
    color: black;
}

.btncoment   {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
}

.btn3 {
    display: flex;
    cursor: pointer;
    justify-content: center;
    border: none;
    border-radius: 3px;
    border: 1px solid rgb(175, 168, 168);
    background-color: white;
    transition: 0.2s;
    padding: 0px 5px;
}

.btn3:hover {
    background-color: rgb(175, 168, 168);
    color: black;
}

.blocoesquerda {
    background-color: rgb(128, 128, 128, 0.137);
    width: 95%;
}

.blocoesquerda p1 {
    font-size: 20px;
    margin: 10px;
    margin-top: 10px;
}

.comenta1,
.comenta2,
.comenta3 {
    background-color: white;
    display: flex;
    margin: 10px 10px;
    font-size: 1vw;
    padding: 2px;
}

.comenta1 img,
.comenta2 img,
.comenta3 img {
    border-radius: 1000px;
}

.texto1 span {
    display: flex;
    justify-content: end;

}

aside {
    display: flex;
    flex-direction: column;
    width: 50%;
}
.headloc {
    display: flex;
    justify-content: end;
    margin-right: 10px;
    margin-top: 16px;
}

.instituicao1,
.instituicao2,
.instituicao3 {
    display: flex;
    margin-top: 10px;
    background-color: rgb(128, 128, 128, 0.137);
    width: 95%;
    margin-block-end: 50px;
    padding: 30px 0;
    border-radius: 2px;
}

.textinstituicao1,
.textinstituicao2,
.textinstituicao3 {
    background-color: white;
    width: 100%;
    margin: 10px;
    padding: 15px 10px;
    border-radius: 5px;
}

.instituicao1 img,
.instituicao3 img {
    display: flex;
    border-radius: 1000%;
    box-shadow: 15px -15px #7efc00;
    transition: .2s;  
}

.instituicao2 img  {
    display: flex;
    border-radius: 1000%;
    box-shadow: -15px -15px #7efc00;
    transition: .2s;
}

.instituicao1 img:hover,
.instituicao2 img:hover,
.instituicao3 img:hover {
    transform: scale(0.9);
}

h3 {
    text-align: center;
}

.textinstituicao1 a,
.textinstituicao2 a,
.textinstituicao3 a {
    display: flex;
    justify-content: center;
}

span {
    font-style: italic;
}

@media (max-width:900px) {
    main {
        display: flex;
        flex-direction: column;
    }

    article {
        display: flex;
        width: 100%;
        place-self: center;
    }

    aside {
        display: flex;
        width: 100%;
        place-self: center;
    }

    .comenta1,
    .comenta2,
    .comenta3 {
        font-size: 2vw;
    }

    .instituicao1,
    .instituicao2,
    .instituicao3 {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 96%;

}
    
}