@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}

/* Parte do Gabriel */
.praticas{
background-color: #ececec;
display: flex;
}

#imagempraticas{
    display: flex;
    align-items: center;
    justify-content: center;
}


#imagempraticas img{
width: 50vw;
align-items: center;
justify-content: center;
}
   
#textopraticas {
align-items: center;
justify-content: center;
text-align: center;
padding: 30px;
width: 50%;
}

.btn{
width: 50%;
height: 70px;
border: 3px solid black;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 900;
background-color: #FAC710
}

#textopraticas h2 {
font-size: 40pt;
}

.btn2{
width: 50%;
height: 80px;
border: 3px solid black;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 900;
background-color: #FAC710
}

@media (max-width:900px) {
    .praticas{
        flex-direction: column;
    }

    #textopraticas h2{
        font-size: 20pt;
    }

    #imagempraticas{
        justify-content: center;
        align-items: center;
    }

    #textopraticas{
        width: 100%;
        padding: 0;
        justify-content: center;
        align-items: center;
        margin-bottom: 30px;
    }
}

/* Término Gabriel */

/* Começo da parte do Victor
Sessão do MAPA da Landing Page */
#articlemapa {
    display: grid;
    grid-template-columns: 1fr 20px 1fr;
    grid-template-rows: 50% 50%;
    background-color: lightgray;
    margin: 0px;
    box-sizing: border-box;
    padding: 5%;
    width: 100%;

}
#landingpage-image-mapa {
    order: 1;
    width: 80%;
    max-width: 350px;
    grid-column:1;
    grid-row-start: 1;
    grid-row-end: 4;
    outline: 2px solid black;
    place-self: center;
}
.TituloMapa {
    width: 90%;
    order: 2;
    grid-column: 3;
    grid-row: 1;
    place-self: center;
    align-self:center;
    text-align: center;
}
.TituloMapa h2 {
    font-size: 3vw;
    margin: 1%;
    }
.botaoCliqueAqui {
    order: 3;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    color: white;
    border: 10px #20b3ab;
    outline: 0.5vw solid black;
    background-color: #20b3ab;
    padding: 0px 5%;
    margin: 1%;
    place-self: center; 
    cursor: pointer;


}
.botaoCliqueAqui p {
    margin: 2% 5%;
    font-size: 2vw;
    font-family: 'Poppins', sans-serif;
}
.botaoCliqueAqui:hover {
    background-color: orange;
}
/*Fim da parte do Victor*/

/* Parte Pedro Nunes*/
.section-sobre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "titulo criadores";
    background-color: #e6e6e6;
}

.h1-texto{
    grid-area: "titulo";
}

.membros-imagens{
    grid-area: "criadores";
}

.h1-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
}

.h1-texto span{
    color: rgb(104, 99, 99);
}

.membros-imagens{
    display: flex;
    grid-template-columns: 33% 33% 33%;

                         
}

.membros-imagens ul {
    list-style:none;
    padding: 0px 10px;

}

.membros-imagens img{
    border-radius: 1000px;
    margin-top: 20px;
    box-shadow: 10px 10px black;
    width: 100%;
    transition:0.3s;
}

.membros-imagens img:hover{
    box-shadow: 10px 10px orange;
}


@media (max-width:900px) {
    .section-sobre{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "titulo"
                             "criadores";
    }
    .membros-imagens ul {
        padding: 0px 10%;
    }
    .membros-imagens{
        display: grid;
        grid-area: "criadores";
        place-self: center;

    }

    .h1-texto{
        grid-area: "titulo";
        font-size: 30pt;
    }

    .h1-texto{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
    }

}
/* Fim parte Pedro Nunes*/
