@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

body * {
    box-sizing: border-box;
}

.botaoexplorar{

   float: center;
   display: flex;
   justify-content: left;
   align-items: left;
  
}

#imagempraticas{
   
   float: center;
   display: flex;
   justify-content: left;
   align-items: left;

}

#textopraticas{
   width: 400px;
   float: center;
   display: flex;
   justify-content: left;
   align-items: center;

}
