@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap');

body {
    margin: 0;
    font-family: 'Poppins', sans-serif;
    overflow-x: hidden;

}

* {
    box-sizing: border-box;
}


/* PRÁTICAS DE CONVIVENCIA */
.praticas{
background-color: #ececec;
display: flex;
padding: 30px;
}

#imagempraticas{
   width: 30%;
align-items: center;
justify-content: center;
margin-right: 30px;
}
   
#textopraticas {
align-items: center;
justify-content: center;
text-align: center;
float: center;
margin-left: 100px;
}

#textopraticas h2 {
font-size: 40pt;
}

.btn{
width: 50%;
height: 70px;
border: 3px solid black;
cursor: pointer;
font-family: 'Poppins', sans-serif;
font-weight: 900;
background-color: #FAC710
}

/* Começo da parte do Victor
Sessão do MAPA da Landing Page */
#articlemapa {
    display: grid;
    grid-template-columns: 1fr 40px 1fr;
    grid-template-rows: 40% 40%;
    background-color: lightgray;
    margin: 0px;
    box-sizing: border-box;
    padding: 20px;
    width: 100%;

}
#landingpage-image-mapa {
    order: 1;
    width: 80%;
    grid-column:1;
    grid-row-start: 1;
    grid-row-end: 4;
    outline: 2px solid black;
    place-self: center;
}
.TituloMapa {
    width: 90%;
    order: 2;
    grid-column: 3;
    grid-row: 1;
    place-self: center;
    text-align: center;
}
.botaoCliqueAqui {
    order: 3;
    grid-column: 3;
    grid-row: 2;
    text-align: center;
    color: white;
    border: 20px #20b3ab;
    outline: 2px solid black;
    background-color: #20b3ab;
    font-weight: bolder;
    padding: 5px 30px;
    margin: 10px;
    place-self: center; 
    text-decoration: none;
}
.botaoCliqueAqui:hover {
    background-color: orange;
    text-decoration:none;
}
/*Fim da parte do Victor*/

/* Parte Pedro Nunes*/
.section-sobre{
    display: grid;
    grid-template-columns: 2fr 1fr;
    grid-column-gap: 20px;
    grid-template-areas: "titulo criadores";
    background-color: #e6e6e6;
}

.h1-texto{
    grid-area: "titulo";
}

.membros-imagens{
    grid-area: "criadores";
}

.h1-texto{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 40pt;
}

.h1-texto span{
    color: rgb(104, 99, 99);
}

.membros-imagens{
    display: flex;
    grid-template-columns: 33% 33% 33%;

                         
}

.membros-imagens ul {
    list-style:none;
    padding: 0px 10px;

}

.membros-imagens img{
    border-radius: 1000px;
    margin-top: 20px;
    box-shadow: 10px 10px black;
    width: 100%;
}


@media (max-width:900px) {
    .section-sobre{
        grid-template-columns: 1fr;
        grid-template-rows: 1fr;
        grid-template-areas: "titulo"
                             "criadores";
    }
    .membros-imagens ul {
        padding: 0px 10%;
    }
    .membros-imagens{
        display: grid;
        grid-area: "criadores";
        place-self: center;

    }

    .h1-texto{
        grid-area: "titulo";
        font-size: 30pt;
    }

    .h1-texto{
        display: flex;
        text-align: center;
        justify-content: center;
        align-items: center;
        font-size: 5vw;
    }

}
/* Fim parte Pedro Nunes*/
