@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: #20b3ab;
  padding: 10px;
  width: 100%;
  position: fixed;
  z-index: 1000;
}


header img {
  transition: .25s;
}

header img:hover{
  filter: invert(1);
  transform: scale(1.2);
}

.left-button,
.center-button,
.right-button {
  padding: 10px 20px;
  background-color: #20b3ab;
  border: none;
  border-radius: 1000px;
  font-size: 16px;
  cursor: pointer;

}

.left-button {
  margin-right: auto;
}

.right-button {
  margin-left: auto;
}
@media (max-width: 768px) {
  header {
    display: flex;
    position: relative;
    flex-wrap: wrap;
  }

  .left-button,
  .center-button,
  .right-button {
    margin: 5px;
    flex-basis: calc(50% - 10px);
  }
}


@media (max-width: 480px) {


  .left-button,
  .center-button,
  .right-button {
    flex-basis: 100%;
  }
}

footer {
  display: flex;
  background-color: #0f0f0fdc;
  justify-content: space-between;
  align-items: center;
}

footer h1 {
  color: white;
  font-weight: 800;
}
.footer-logo-gov-local {
  width: 100px;
  height: 100px;
  border-radius: 1000px;
  margin: 10px 20px;
}

.imagensfooter {
  margin: 10px 20px;
}

.imagensfooter img {
  margin: 10px 20px;
}

@media (max-width: 900px) {
  footer {
    display: flex;
    flex-direction: column;
  }

  footer h1 {
    color: white;
    font-size: 4vw;
  }
  .footer-logo-gov-local {
    width: 100px;
    height: 100px;
    border-radius: 1000px;
    margin: 10px 20px;
  }

  .imagensfooter {
    margin: 10px 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .imagensfooter img {
    margin: 10px 20px;
  }
}

::-webkit-scrollbar {
  background-color: #e6e6e6;
  width: 7px;
}

::-webkit-scrollbar-thumb {
  background-color: rgb(0, 0, 0);
}
