@import url("https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap");

body {
  margin: 0;
  font-family: "Poppins", sans-serif;
  overflow-x: hidden;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

.mobile-menu-icon{
  display: none;
}

.mobile-menu{
  display: none;
}

header {
    display: flex;
    background-color: #20b3ab;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
}

header ul {
 display: flex;
 padding: 0;
 gap: 15px;
}

header li {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: auto;
}

header li a {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 4px;
    text-decoration: none;
    font-weight: 800;
    color: black;
    transition: .2s;
}

header li a img {
    margin-right: 5px;
}


header li a:hover{
    color: orange;
}

.imagem-header img {
    margin: 5px;
    width: 200px;
    border-radius: 2px;
    box-shadow: 20px 20px black;
}

@media (max-width:933px) {
    header {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    header nav {
        width: 100%;
    }

    header ul{
        display: flex;
        align-items: center;
        justify-content: center;
        padding: 0;
    }

    header li {
        margin-top: 40px;
        padding: 5px;
    }
}



@media (max-width: 900px) {
  header {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    place-self: center;
  }

  .imagem-header {
    display: inline;
    width: 100%;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
  }

  .imagem-header img {
    display: flex;
    margin: 10px auto;
    justify-content: center;
    align-items: center;
    box-shadow: 2px 2px 10px black;
    place-self: center;
  }

  nav ul {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
    justify-content: center;
    place-self: center;
    align-items: center;
    width: 50%;
    cursor: pointer;
    
  }


  .mobile-menu-icon button {
    display: flex;
    margin: 0 auto;
    padding: 3px;
    background-color: transparent;
    border: none;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 100%;
  }

  .mobile-menu ul li {
    display: flex;
    flex-direction: column;
    width: 100%;
  }

  .open {
    display: block;
    flex-direction: column;
  }

}

::-webkit-scrollbar{
  background-color: #e6e6e6;
  width: 7px;
}

::-webkit-scrollbar-thumb{
  background-color: rgb(0, 0, 0);
}
