@import url('https://fonts.googleapis.com/css2?family=Overpass:wght@400;700&family=Poppins:ital,wght@0,400;0,500;1,400&family=Tilt+Warp&display=swap');
body {
    display: flex;
    flex-direction: column;
}
header {
    background-color:#20b2aa;
    padding: 10px 0;
 }
    nav {    
        display: grid;   
        width: 100%;    
        grid-template-columns: 1fr 1fr 1fr;
}

    .navEsquerda {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        grid-column: 1;
        grid-row: 1;
        margin-left: 20px;
    }
    .navCentro {
        display: flex;
        flex-direction: row;
        grid-column: 2;
        grid-row: 1;
        justify-content: space-between;
    }
    .navDireita {
        display: flex;
        flex-direction: row;
        grid-column: 3;
        grid-row: 1;
        justify-content: end;
        margin-right: 20px;
    }
    nav button {
        background-color: transparent;
        border: none;
        margin: 0px 10px 0px 0px;
    }
    
    nav img {
        cursor: pointer;
        transition: .2s;
    }

    nav img:hover{
        filter: invert(1);
        transform: scale(1.1);
    }

    .navDireita button {
        cursor: pointer;
        margin: 0px 0px 0px 10px;
    }

    main {
        display: grid;
        grid-template-columns: 30% 70%;
        background-color: whitesmoke;
    }
        aside {
            display: flex;
            flex-direction: column;
            grid-column: 1;
            z-index: 1000;
            margin: 10px 10px;
        }
            aside ul{
            display: block;
            float: left;
            margin: 0px;
            padding: 0px;
            }
                aside ul li{
                display: inline-block;
                }
                    aside ul li a{
                    color: black;
                    text-decoration: none;
                    display: block;
                    transition: .5s;
                    }
                        aside ul li a:hover,
                        aside ul li a.active{
                        color: lightgray;
                        }
                            aside ul ul{
                            opacity: 0;
                            visibility: hidden;
                            }
                            aside ul li:hover > ul{
                            opacity: 1;
                            visibility: visible;
                            transition: .3s linear;
                            }
                            aside ul ul li{
                            display: list-item;
                            margin: 0px 0px 0px 20px;
                            border-top: none;
                            color: black;
                            text-decoration: none;

                            }
                            aside ul ul li a:hover{
                                color: lightgray;
    
                            }
                            aside ul ul ul{
                            border-top: none;
                            }
                            aside ul ul ul li{
                            position: relative;

                            }
                            aside ul ul li a i{

                            }
        .mapa {
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 10px;
            padding-top: 5px;
            position: relative;
            background-color: whitesmoke;
            width: 100%;
            height: 100%;
            margin-right: 100px;
        }

        .sliderPeriodo img {
            cursor: pointer;
            margin-left: 20px;
        }

        @media (max-width: 900px) {

            header{
                display: flex;
                flex-direction: column;
            }

            header nav {
                display: flex;
                flex-direction: column;
            }

            main{
                display: flex;
                flex-direction: column;
            }

            aside{
                margin: 0;
            }

            .mapa{
                display: flex;
                align-items: center;
                justify-content: center;
                margin: 0 auto;
                width: 200px;
                
                place-self: center;
            }

            .sliderPeriodo {
                display: none;
            }

        }