

.gridline1{
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 1fr;
    width: 100%;
    background-color: #4d4040;
  }
  .icones {
      display: flex;
      grid-column: 1;
    }
    .icones img {
      width: 20%;
      display: flex;
    }
  #descricao{
    grid-column: 1;
    }

  .localidade{
      display: grid;
      width: 100%;
      grid-column: 2;
      align-items: center;
      justify-content: center;
      place-self: center;
      align-self: center;
    }
  
    #bairroflex{
      background-color:;
    }
      #bairroflex h1 {
      text-align: center;
    }
.sobre{
  display: block;
  text-align: center;
  align-items: center;
  justify-content: center;
  width: 100%;
}
.formulario {
  background-color: ;
  display: grid;
  grid-template-columns: 50% 50%;
  margin: 40px;
}
  .primeirasecao {
    grid-column: 1;
    background-color: ;
  }
  .segundasecao {
    grid-column: 2;
    background-color:;
  }
  @media (max-width: 900px) {
    .gridline1{
      display: grid;
      grid-template-columns: 100%;
      grid-template-rows: 1fr 1fr 1fr;
      width: 100%;
      background-color: #4d4040;
    }
      .icones {
        display: flex;
        grid-row: 1;
        align-items: center;
        align-content: center;
      }
      .icones img {
        width: 20%;
        display: flex;
        align-items: center;
        align-content: center;
      }
    #descricao{
      grid-row: 2;
      }

    .localidade{
        display: flex;
        width: 100%;
        grid-row: 3;
        grid-column: 1;

      }
    
      #bairroflex{
        background-color: ;
        grid-row: 3;
      }
        #bairroflex h1 {
        text-align: center;
        grid-row: 3;
      }
    .formulario {
      background-color: ;
      display: flex;
      flex-direction: column;
      grid-template-columns: 100%;
      align-items: center;
      margin: 20px;
      
    }
      .primeirasecao {
        grid-column: 1;
        background-color: ;
        align-items: center;
      }
      .segundasecao {
        grid-column: 1;
        background-color: ;
        align-items: center;
      }
    }